@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black;
  color: white; */
}


/*Fonts*/
@font-face {
  font-family: 'SouvenirBold';
  src: url('/fonts/ITC Souvenir Std Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Barlow', sans-serif;
}

/* Ocultar scrollbar en navegadores como Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
* {
  scrollbar-width: none;
}

/* Ocultar scrollbar en IE, Edge */
*::-ms-scrollbar {
  display: none;
}


@media print {
  body {
    background-color: white !important;
  /* color: black !important; */
  }

}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 10rem; /* Ajusta la altura según lo necesario */
  }
}

.animate-grow {
  animation: grow 20s ease forwards;
}

